<ion-header [translucent]="true">
  <ion-toolbar>
    <!-- LEFT: Title = Person name -->
    <ion-buttons slot="start">
      <ion-button color="primary" size="large" (click)="scroll(overview)">{{ pData?.name }}</ion-button>
    </ion-buttons>

    <!-- RIGHT: navigation icons -->
    <ion-buttons slot="end">
      <ion-button shape="round" [routerLink]="['/home']">
        <ion-icon slot="icon-only" color="success" name="home"></ion-icon>
      </ion-button>
      <ion-button shape="round" [routerLink]="['/favourites']">
        <ion-icon slot="icon-only" color="danger" name="heart"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>  
</ion-header>

<ion-content [fullscreen]="true"> 
  <ion-card>

  <ion-item>
    <div #overview style="height: 8px;"></div>
  </ion-item>
  <!--excluding if backdrop_path is null --> 
  <ion-item>
  <img *ngIf="pData.profile_path"
    alt= "{{ pData.name }}"
    [src]="imageLink + pData.profile_path"
    style="width:123px; margin-right:11px;" />

  <ion-label *ngIf="!pData.profile_path">
    No image</ion-label>
  </ion-item>

  <ion-item>
    <ion-label *ngIf="pData.also_known_as">
      {{ pData.also_known_as.join(', ') || '-' }}
    </ion-label>  
    <ion-label *ngIf="!pData.also_known_as">
      -
    </ion-label>
  </ion-item>

  <ion-item *ngIf="pData?.birthday || pData?.deathday || pData?.place_of_birth">
    <ion-label>
      <h2>{{ pData?.birthday }} - {{ pData?.deathday }}</h2>
      <p>{{ pData?.place_of_birth }}</p>
      <br>
      <p>{{ pData?.biography }}</p>
    </ion-label>
  </ion-item>
</ion-card>

   <!-- Movie list: with ratings + clickable) -->
<ion-card>
  <ion-item>
    <h1>Movies</h1>
  </ion-item>

  <ion-item *ngFor="let pm of pMData"
  button [routerLink]="['/movie-details', pm?.id]">

     <img *ngIf="pm.poster_path"       
       [src]="imageLink + pm.poster_path"
       style="width:123px; margin-right:11px;" />
       
     <div *ngIf="!pm.poster_path" style="width:123px; height:123px; margin-right:11px; display:flex; align-items:center; justify-content:center;">
        No image
      </div>

   <!-- TV shows has name instead of title however... I didn't build them in the app. -->
       <ion-label>
        {{ pm?.title || pm?.name }} 
      <p>({{ (pm?.release_date || pm?.first_air_date)?.slice(0, 4) || '—' }} • {{ pm?.vote_average | number:'1.0-1' }})</p>
           <!-- character name -->
        <p *ngIf="pm?.character">{{ pm.character }}</p>
      </ion-label>
  </ion-item>
   
</ion-card>

</ion-content>