<ion-header [translucent]="true">
  <ion-toolbar>

  <!-- with inner menu --> 
    <ion-buttons slot="start">
      <ion-button size="large" (click)="scroll(overview)">{{ movieData.title }}</ion-button>
      <ion-button size="small" (click)="scroll(cast)">Cast</ion-button>
      <ion-button size="small" (click)="scroll(crew)">Crew</ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button shape="round" [routerLink]="['/home']">
        <ion-icon slot="icon-only" name="home"></ion-icon>
      </ion-button>
      <ion-button shape="round" [routerLink]="['/favourites']">
        <ion-icon slot="icon-only" name="heart"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  
</ion-header>

<!--https://stackoverflow.com/questions/43945548/scroll-to-element-on-click-in-angular-4-->

<ion-content [fullscreen]="true"> 

  <ion-item>
    <div #overview style="height: 8px;"></div>
  </ion-item>
    
  <ion-card>
  <!--excluding if backdrop_pat
  h is n
  <img *ngIf="movieData.backdrop_path"
    alt= "{{ movieData.title }}"
    [src]="imageLink + movieData.backdrop_path" />-->
  
    <ion-item>
      <h2>Overview</h2>
    </ion-item>
    <ion-item>
      <div style="padding: 8px 12px;">
        {{ movieData.overview }}
      </div>
    </ion-item>
  </ion-card>

  <ion-item>
    <div #cast style="height: 8px;"></div>
  </ion-item>

  <ion-card>
    <ion-item>
      <h1>Cast</h1>
    </ion-item>

  <ion-item *ngFor="let c of castData">

    <img *ngIf="c.profile_path"
    [src]="imageLink + c.profile_path"
    style="width:120px; margin-right:12px;" />

    <ion-label>
      <h1>{{ c.character }}</h1>
      <p>{{ c.name }}</p>
    </ion-label>

  </ion-item>
  </ion-card>

  <ion-item>
    <div #crew></div>
  </ion-item>

  <ion-card>

  <ion-item>
    <h1>Crew</h1>
  </ion-item>

      <ion-item *ngFor="let cr of crewData">
        
        <img
          *ngIf="cr.profile_path"
          [src]="imageLink + cr.profile_path"
          style="width:120px; margin-right:12px;" />
    
        <ion-label>
          <h1>{{ cr.job }}</h1>
          <p>{{ cr.name }}</p>
        </ion-label>

      </ion-item>

  </ion-card>
  </ion-content>