<ion-header [translucent]="true">
  <ion-toolbar>
     <!-- My ID: serve as a button to jump back as high as possible -->
    <ion-buttons slot="start">
      <ion-button color="primary" size="large" (click)="scroll(search)">G00472900</ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button shape="round" [routerLink]="['/favourites']">
        <ion-icon slot="icon-only" color="danger" name="heart"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <!-- SEARCH BAR -->
  <ion-card>

    <div #search></div>
    <ion-searchbar placeholder="Looking for a Movie?" [value]="searched" [debounce]="1000" (ionInput)="handleInput($event)"></ion-searchbar>
    <ion-button expand="block" color="primary" (click)="searchMovies()">
    Let's Find That Movie!
  </ion-button>

</ion-card>

<ion-card>

  <ion-item>
    <h1> {{ pageTitle }}</h1>
  </ion-item>

  <!-- clickable elements, select movie with method in ts file -->
  <!-- It was a div element, but I merged into the Ionic element later  -->
<ion-item *ngFor="let m of movieData" [routerLink]="['/movie-details', m.id]">

  <!--excluding if backdrop_path is n-->
  <img 
  *ngIf="m.backdrop_path"
  alt= "{{ m.title }}" [src]="imageLink + m.backdrop_path"
  style="width:319px; margin-right:11px;" />

  <ion-label>
    <h1>{{ m?.title }}</h1>
      <p>({{ m?.release_date?.slice(0, 4) || '—' }} • {{ m?.vote_average | number:'1.0-1' }})</p>

  <br>
  
    {{ m.overview }}
  </ion-label>
  </ion-item>
</ion-card>
</ion-content>