<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title></ion-title>
    <ion-buttons slot="start">
      <ion-button size="large">G00472900</ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button shape="round" [routerLink]="['/favourites']">
        <ion-icon slot="icon-only" name="heart"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card>
    <ion-card-header>
      <ion-card-title><h2>
        Today’s Trending Movies
      </h2></ion-card-title>
  </ion-card-header>
</ion-card>


<ion-card *ngFor="let m of movieData">

  <!-- clickable elements, select movie with method in ts file -->
  <div (click)="moviePicker(m)" [routerLink]="['/movie-details']">

  <ion-card-header>
      <ion-card-title>{{ m.title }}</ion-card-title>
  </ion-card-header>

  <ion-card-content>
  <!--excluding if backdrop_path is n-->
  <img 
  *ngIf="m.backdrop_path"
  alt= "{{ m.title }}" [src]="imageLink + m.backdrop_path" />
  <br>
  
    {{ m.overview }}
  </ion-card-content>

</div>
</ion-card>
</ion-content>